:root {
    --light-teal: #38eed0;
    --dark-teal: #3eceb6;
    --light-pink: #F76CE3;
    --light-purple: #d0b9e4;
    --dark-purple: #a253a1;
}

html {
    background-color: var(--dark-teal);
    overflow: hidden;
    /* background-image: url(images/JZS3.gif); */
}

.clearfix {
    overflow: hidden;
    
    /* overflow-x: auto; */
    /* overflow-y: scroll; */
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

@font-face {
    font-family: "VCR";
    src: url("../fonts/VCR.ttf");
}
@font-face {
    font-family: "alien-encounters";
    src: url("../fonts/Alien-Encounters-Regular.ttf")
}
@font-face {
    font-family: "streamster";
    src: url("../fonts/Streamster.ttf")
}
@font-face {
    font-family: "virus01";
    src: url("../fonts/Virus_01.ttf")
}
@font-face {
    font-family: "ms-sans";
    src: url("../fonts/MS_Sans_Serif.ttf")
}

.vcr {
    font-family: "VCR";
}

.alien {
    font-family: "alien-encounters";
}

.streamster {
    font-family: "streamster";
}

.virus01 {
    font-family: "virus01";
}

.ms-sans {
    font-family: "ms-sans";
}

h1 {
    font-size: 50px;
    color: var(--light-pink);
}

h2 {
    font-size: 35px;
    color: var(--light-pink);
}


/* WINDOWS **********************************************/

.icon {
    padding-top: 35px;
    margin: 20px;
    display: inline-block;
    /* height: 68px;
    width: 50px; */
    text-align: center;
    vertical-align: bottom;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

#about {
    background: url(../images/icons/txt.png) center top no-repeat;
    background-size: 50px 50px;
}
.ie {
    background: url(../images/icons/ie.png) center top no-repeat;
    background-size: 50px 50px;
}
#linkedin {
    background: url(../images/icons/ie.png) center top no-repeat;
    background-size: 50px 50px;
}
#instagram {
    
}

#skills {
    background: url(../images/icons/txt.png) center top no-repeat;
    background-size: 50px 50px;
}
#resume {
    background: url(../images/icons/doc.png) center top no-repeat;
    background-size: 50px 50px;
}

#taskbar {
    height: 40px;
    background-color: rgb(192,192,192);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: ridge 2px white;
    z-index: 99;
    
}

#start {
    background: url(../images/icons/win95.png) left center no-repeat;
    background-size: 30px 25px;
    text-align: right;
    font-size: 20px;
    float: left;
    width: 75px;
    height: 24px;
    display: inline-block;
    padding: 5px 4px 0px 1px;
    margin-left: 4px;
    margin-top: 2px;
    cursor: default;
    user-select: none;
    /* margin-right:10px; */
}
.taskbar-icon-rest {
    border-top: ridge 2px white;
    border-left: ridge 2px white;
    border-bottom: ridge 2px black;
    border-right: ridge 2px black;
}
.taskbar-icon-click {
    border-top: inset 2px black;
    border-left: inset 2px black;
    border-bottom: inset 2px white;
    border-right: inset 2px white;
}
.taskbar-icon {
    /* display: none; */
    text-align: left;
    font-size: 20px;
    font-family: "ms-sans";
    max-width: 200px;
    min-width: 75px;
    width: 10%;
    height: 24px;
    display: inline-block;
    padding: 5px 4px 0px 27px;
    margin-left: 4px;
    margin-top: 2px;
    cursor: default;
    text-overflow: ellipsis;
    user-select: none;
}

#skills-taskbar {
    display: none;
    background: url(../images/icons/txt.png) left center no-repeat;
    background-size: 20px;
    float: left;
}

#about-taskbar {
    display: none;
    background: url(../images/icons/txt.png) left center no-repeat;
    background-size: 20px;
    float: left;
}
#resume-taskbar {
    display: none;
    background: url(../images/icons/doc.png) left center no-repeat;
    background-size: 20px;
    float: left;
}
#ie-taskbar {
    width:15%;
    display: none;
    background: url(../images/icons/ie.png) left center no-repeat;
    background-size: 20px;
    float: left;
}

.divider{
    height:1px;
    border-top: ridge 1px white;
    border-bottom: ridge 1px grey;
    margin: 2px ;
}

#notifications {
    /* background: url(../images/icons/win95.png) left center no-repeat;
    background-size: 30px 25px; */

    margin-right: 4px;
    margin-top: 2px;
    border-top: inset 2px grey;
    border-left: inset 2px grey;
    border-bottom: inset 2px white;
    border-right: inset 2px white;
    /* padding-top: 17px; */
    padding: 5px 4px 0px 5px;
    display: inline-block;
    float: right;
    width: 80px;
    height: 24px;
}

#clock {
    display: inline-block;
    /* float: right; */
    text-align: right;
    /* margin-top: -13px; */
    font-size: 18px;
}

/* POPUPS ***********************************************/

.popup{
    width:400px;
    background:#C0C0C0;
    border-width:1px;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    border-style:solid;
    position:absolute;
    top:10%;
    left:25%;
    /* transform: translate(-50%,-50%); */
    padding:1px;
}
div.title{
    height:18px;
    width:100%;
    background:#000080;
    color:#FFF;
}
img.title{
    float:left;
}
p.title{
    margin:2px 0 0 1px;
    float:left;
    font-family: "ms-sans";
    font-weight:bold;
    font-size:14px;
}
.title button{
    margin:2px 2px 2px 0;
    float:right;
    width:14px;
    height:13.5px;
    background:#C0C0C0;
    border-width:1px;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    padding:0;
    font-size:11px;
    font-weight:bold;
    font-family: "ms-sans";
    text-align:center;
    /* focus:none; */
}
div.popup-text{
    padding:13px 12px 12px;
    height:100%;
    width:calc(100% - 26px);
    display:inline-block;
    font-family:"ms-sans";
    font-size:16px;
    color: black;
}

div.popup-text button{
    font-family:"ms-sans";
    font-size:12px;
    outline:1px solid #000000;
    background:#C0C0C0;
    border-width:1px;
    border-style:solid;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    padding:4px 10px;
    margin:20px auto 3px;
    display:block;
    position:relative;
    bottom:0px;
}

#about-popup {
    background-color: #C0C0C0;
    display: none;
    height: 45%;
    width: 45%;
    /* size: 45%; */
    /* padding: 2px; */
}
#skills-popup {
    background-color: #C0C0C0;
    display: none;
    height: 45%;
    width: 45%;
    /* size: 45%; */
    /* padding: 2px; */
}

#resume-popup {
    background-color: #C0C0C0;
    display: none;
    top: 2%;
    left: 15%;
    height: 90%;
    width: 70%;
}

#resume-display {
    height: 100%;
    width: 100%;
}
#ie-popup {
    display: none;
    height: 90%;
    width: 70%;
    top: 4%;
    left: 10%;
}
#ie-frame {
    height: 100%;
    width: 99%;
}

#about-popup .popup-text {
    text-shadow: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 18px;
}
#skills-popup .popup-text {
    text-shadow: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 18px;
}

.text-box {
    background-color: white;
    margin: 2px;
    height: 90%;
    width: 100%;
    overflow-x: auto;
    overflow-y: scroll;
}

.menu-bar {
    font-size: 14px;
    padding: 2px;
    margin: 2px;
    font-family: "ms-sans";
    font-weight: 100;
}

.maximize {
    width: 100%;
    length: 100%;
}
